version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=pulsebuy
      - MYSQL_USER=pulseuser
      - MYSQL_PASSWORD=pulsepass
      - MYSQL_ROOT_PASSWORD=rootpass

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: pulsebuy
      MYSQL_USER: pulseuser
      MYSQL_PASSWORD: pulsepass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpass
    depends_on:
      - db

volumes:
  db_data: 